a {
    color: #00B7FF;
  }

  #navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #333;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  #navbar li {
    float: left;
  }
  
  #navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
  }
  
  #navbar .active {
  background-color: green;
  }
  
  #navbar li a:hover:not(.active) {
    background-color: gray;
  }