body {
    padding: 0px !important;
    margin: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow:hidden;
  }

  .marker_company {
    width: 15px;
    height: 15px;
    background:red;
    border: 1px solid black;
    border-radius: 50%;
  }

  .marker20thou img {
    width: 20px;
    height: 20px;
  }

  .marker10to20thou img {
    width: 20px;
    height: 20px;
  }

  .marker5to10thou img {
    width: 20px;
    height: 20px;
  }

  .marker3to5thou img {
    width: 20px;
    height: 20px;
  }

  .marker_dev {
    width: 15px;
    height: 15px;
    background:gray;
    border: 1px solid black;
    border-radius: 50%;
  }

  .marker {
    width: 15px;
    height: 15px;
    background:purple;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .infowindow_wrap {
    background: white;
    padding: 20px;
    border: 1px solid #000;
  }
  
  .infowindow_title {
    font-size: 15px;
    font-weight: bolder;
  }
  
  .infowindow_address {
    font-size: 13px;
    font-weight: bolder;
  }
  
  .cluster1 {
    width: 30px;
    height: 30px;
    line-height: 26px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: rgba(255, 149, 79, 0.7);
  }
  
  .cluster2 {
    width: 35px;
    height: 35px;
    line-height: 26px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: rgba(79, 255, 226, 0.7);
  }
  
  .cluster2 {
    width: 40px;
    height: 40px;
    line-height: 26px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: rgba(91, 79, 255, 0.7);
  }

.map {
  margin-left:0px;
}
#mobile_navbar {
  display:none;
}
.popup {
  display: none;
}
.mobile_nav {
  display: none;
}
.slide a {
  display: none;
}

@media screen and (max-width: 768px) {

  .map {
    margin-left:0px;
  }  
  .body {
    overflow:hidden;
  }
  #mobile_navbar {
    display:block;
  }

  #mobile_navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  #mobile_navbar li {
    float: left;
  }
  
  #mobile_navbar li a {
    display: block;
    color:black;
    text-decoration: none;
    text-align: center;
    padding: 10px 16px;
  }
  
  #mobile_navbar .active {
  background-color:#f5f5f5;
  border-width: 0.5px;
  border-color: black;
  }

  #mobile_navbar .search {
    background-color:grey;
    border-width: 0.5px;
    border-color: black;
  }

  .sidebar {
    display:none;
  }

  .infowindow_wrap {
    overflow: auto;
    height: 160px;
    width: 210px;
    background: white;
    padding: 20px;
    border: 1px solid #000;
  }
  .search_box {
    margin-top:20px;
    height: 50px;
    width: 100%;
    background: black;
  }
}